:root {
  font-size: 14px;
}

input, textarea {
  border: none;
  border-radius: 0.5rem;
}

button {
  cursor: pointer;
  background: none;
  border: none;
}

#app {
  min-height: 100vh;
  padding-bottom: 4rem;
}

.card-title {
  margin-bottom: 0;
}

select {
  border: none;
}

.round-link {
  background-color: $main-dark-color;
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 50%;
  min-width: 2.25rem; min-height: 2.25rem;
  &:hover {
    transform: scale(1.1);
  }
}
