:root {
  font-size: 16px;
}

p, a.link, button, label,
input[type="text"],
input[type="email"],
input[type="password"] {
  font-family: $base-font !important;
  letter-spacing: 0.05em !important;
  line-height: 1.5em !important;
}

input {
  border: none;
}
