@media only screen and (max-width: 1200px) {
  .initial-page {
    img {
      width: 40%;
    }
    h1 {
      font-size: $x-large-font-size;
    }
  }
  .wrapper {
    max-width: 760px;
    margin: 0 auto;
  }
  .content-list {
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
  }
  .search-filter-panel {
    flex-direction: column;
    align-items: center;
    .page-form {
      width: 80%;
    }
    .filters {
      &>* {
        margin: 1rem 0.5rem 0 0.5rem !important;
      }
    }
  }
}

@media only screen and (max-width: 990px) {
  .page-form {
    .check-row {
      flex-direction: column;
      align-items: flex-start !important;
      .accent-link {
        margin-left: 0;
        margin-top: 1rem;
        text-align: left;
      }
    }
    .submit-row {
      flex-direction: column;
      align-items: flex-start !important;
      p {
        margin-left: 0;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .content-list {
    grid-template-columns: repeat(1, 1fr);
    justify-items: center;
  }
  .search-filter-panel .page-form {
    width: 70%;
  }
  .dashboard-header {
    flex-direction: column;
    align-items: flex-start;
    .dashboard-tabs {
      button {
        padding-left: 0.25rem;
        padding-right: 0.75rem;
        margin-right: 0.75rem;
      }
      .bottom-border {
        right: none; left: 0;
      }
    }
  }
  .scrollactive-nav {
    display: none;
  }
  .edit-block {
    padding: 2rem;
    h2 {
      margin-bottom: 3rem;
    }
  }
}

@media only screen and (max-width: 660px) {
  .initial-page {
    div {
      width: 100%;
    }
    img {
      display: none;
    }
    h2 {
      font-size: $large-font-size;
    }
  }
  .verification-page {
    img {
      width: 80%;
    }
  }
  .page-header {
    .user-panel img {
      min-width: $medium-font-size;
    }
  }
  .search-filter-panel .page-form {
    width: 90%;
  }
  .public, .adding {
    display: flex !important;
    flex-direction: column;
  }
  .page-form {
    input#slug {
      margin-bottom: 0;
    }
    .section-title {
      margin-top: 1rem;
    }
    .custom-toggle {
      .selector {
        min-width: 4rem; min-height: 2rem;
        &::before {
          min-width: 1.8rem; min-height: 1.8rem;
        }
      }
    }
  }
  .profile-card {
    flex-direction: column;
    &.game-profile-card .header {
      flex-direction: column;
    }
    img {
      position: relative;
      margin: -2rem auto 0;
    }
    &>div {
      margin-left: 0;
    }
  }
}

@media only screen and (max-width: 540px) {
  #notifications .row {
    flex-direction: column;
    align-items: flex-start;
    &>* {
      margin-bottom: 0.5rem;
    }
  }
}

@media only screen and (max-width: 460px) {
  .search-filter-panel {
    align-items: flex-start;
    .page-form {
      flex-direction: column;
      width: 100%;
      .submit-btn {
        margin: 1rem 0 0 0;
      }
    }
    .filters {
      flex-direction: column;
      width: 100%;
      &>* {
        margin: 1rem 0 0 0 !important;
        select {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (max-width: 400px) {
  .page-header {
    .logo-title {
      font-size: $small-font-size;
    }
    .notification-list {
      display: none !important;
    }
    img {
      width: $small-font-size;
    }
  }
  .game-card,
  .team-card {
    min-width: 0;
    .team {
      display: none;
    }
    p {
      min-width: 0 !important;
    }
    .authors {
      display: none;
    }
  }
  .edit-block {
    padding: 0.5rem;
    padding-bottom: 4rem;
    .accent-link {
      word-break: break-word;
    }
  }
  .user-elements .wrapper>div:first-child {
    flex-direction: column;
    align-items: flex-start;
    .group-tabs {
      width: 100%;
      margin-top: 1rem;
      text-align: right;
    }
  }
}

@media only screen and (max-width: 350px) {
  #invitations p {
    max-width: 90%;
  }
  .edit-box .page-form {
    max-width: 90%;
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
      width: 100% !important;
      min-width: 0;
    }
  }
  #history .version-card {
    min-width: 0;
    width: 100%;
  }
}
