[data-theme="dark"] {
  background-color: $dm-main-bg-color;
  p, a, button, label, h6, i, .item,
  input[type="text"],
  input[type="email"],
  input[type="password"],
  input[type="submit"],
  button, textarea, select,
  h1, h2, h3, h4, h5, h6,
  .group-tabs *, .box-title,
  .team, .content {
    color: $main-light-color;
  }
  a, .scrollactive-item {
    &:hover, &.active, p:hover {
      color: $main-accent-color;
    }
  }
  .breadcrumb {
    .router-link-active,
    .divider  {
      color: transparentize($main-light-color, 0.4);
      &:hover {
        color: $main-light-color;
      }
    }
  }
  .header-link::before {
    background-image: url('./assets/user-dm.svg');
  }
  .submit-btn {
    background-color: $main-accent-color;
    color: $dm-bg-card-color !important;
    &:hover {
      box-shadow: $dm-focus-shadow;
    }
    i {
      color: $dm-bg-card-color;
    }
  }
  .subscribed-label {
    border: $accent-border;
    color: $main-accent-color !important;
  }
  input:focus {
    box-shadow: $dm-focus-shadow;
  }
  .page-form {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
      background-color: $dm-bg-card-color;
      border: $transparent-border;
      &:focus {
        outline: $main-accent-color;
        border: $accent-border;
      }
    }
  }
  .checkbox-label {
    input[type="checkbox"] {
      &:focus ~ p::before {
        box-shadow: $accent-border;
      }
      &:checked ~ p::before {
        border-color: $main-accent-color;
        background-image: url('./assets/close-dm.svg');
      }
    }
    p::before {
      border: 2px solid transparent;
      background-color: $dm-bg-card-color;
    }
  }
  .accent-link {
    color: $main-accent-color !important;
  }
  .dropdown-menu {
    .notification-item.new {
      color: $main-accent-color;
    }
    .ui.label {
      background-color: $main-accent-color;
      color: $dm-bg-card-color;
    }
    .ui.circular.label {
      box-shadow: $dm-focus-shadow;
    }
    .menu.transition,
    .menu.transition::after {
      box-shadow: $black-shadow;
      background-color: $main-dark-color !important;
    }
    form:hover {
      background-color: darken($main-dark-color, 1%);
      input {
        color: $main-accent-color;
      }
    }
  }
  .user-profile-card,
  .game-profile-card,
  .team-profile-card,
  .version-profile-card,
  .version-card,
  .user-manage-card {
    background-color: $dm-bg-card-color;
    .team:before {
      background-image: url('./assets/group-dm.svg');
    }
  }
  .card-title {
    color: $main-accent-color;
  }
  .box-title {
    h5 {
      border-bottom: $accent-border;
    }
    .icon:hover {
      color: $main-accent-color;
    }
  }
  .edit-box .remove:hover {
    color: $main-accent-color;
  }
  .custom-file-upload:focus ~ .file-loader-label {
    box-shadow: $dm-focus-shadow;
  }
  .verfc {
    color: $main-error-color;
  }
  .small-card-title,
  .smallest-title {
    color: $main-accent-color;
  }
  .game-card, .team-card, .version-card {
    background-color: $dm-bg-card-color;
    .team:before {
      background-image: url('./assets/group-dm.svg');
    }
    .authors a,
    .owners a {
      img {
        border: 2px solid $dm-bg-card-color;
      }
      &:hover, &:focus {
        img {
          border: $accent-border;
        }
      }
    }
  }
  .inline .label {
    background-color: $main-accent-color;
    color: $dm-bg-card-color;
    box-shadow: $black-shadow;
  }
  .group-tabs {
    .chevron:hover {
      color: $main-accent-color;
    }
    .tab-content * {
      background-color: $dm-bg-card-color;
      &:hover {
        box-shadow: $dm-focus-shadow;
      }
      &.chosen {
        background-color: $main-accent-color;
        color: $dm-bg-card-color;
      }
    }
  }
  .invitation-card {
    background-color: $dm-bg-card-color;
    i:hover {
      color: $main-accent-color;
    }
  }
  .sort.down,
  .confirmation i:hover {
    color: $main-accent-color;
  }
  .user-manage-card .controls i {
    &:hover,
    &.active {
      color: $main-accent-color;
    }
  }
  .dashboard-header {
    .bottom-border {
      background-color: $dm-bg-card-color;
    }
    button {
      border-bottom: 2px solid transparent;
      &:hover, &:focus, &.active {
        color: $main-accent-color;
        border-bottom: $accent-border;
      }
    }
  }
  .file-card {
    background-color: $dm-bg-card-color;
  }
  .custom-toggle {
    label:hover {
      color: $main-accent-color;
    }
    input {
      &:checked + label {
        color: $main-accent-color;
      }
      &:focus + label {
        border-bottom: $accent-border;
      }
    }
    .selector {
      background-color: $dm-bg-card-color;
      border: 2px solid $main-accent-color;
      &::before {
        background-color: $main-accent-color;
      }
    }
  }
  .file-upload p {
    background-color: $dm-bg-card-color;
    color: transparentize($main-light-color, 0.5);
  }
}
