[data-theme="dark"] {
  background-color: $dm-main-bg-color;
  a.link,
  .scrollactive-item {
    &:hover,
    &.active,
    p:hover {
      color: $main-accent-color;
    }
  }
  .breadcrumb {
    .router-link-active,
    .divider  {
      color: transparentize($main-light-color, 0.4);
      &:hover {
        color: $main-light-color;
      }
    }
  }
  .page-header {
    * {
      color: $main-light-color;
    }
    .logo-title:hover {
      color: $main-accent-color;
    }
  }
  .header-link::before {
    background-image: url('./assets/user-dm.svg');
  }
  .initial-page,
  .verification-page,
  .dashboard,
  .edit-block {
    * {
      color: $main-light-color;
    }
  }
  .submit-btn {
    background-color: $main-accent-color;
    color: $dm-bg-card-color !important;
    &:hover {
      box-shadow: $dm-focus-shadow;
    }
    i {
      color: $dm-bg-card-color;
    }
  }
  .subscribed-label {
    border: 2px solid $main-accent-color;
    color: $main-accent-color !important;
  }
  input:focus {
    box-shadow: $dm-focus-shadow;
  }
  .page-form {
    input[type="text"],
    input[type="email"],
    input[type="password"],
    textarea {
      background-color: $dm-bg-card-color;
      border: 2px solid transparent;
      color: $main-light-color;
      &:focus {
        outline: $main-accent-color;
        border: 2px solid $main-accent-color;
      }
    }
  }
  .checkbox-label {
    color: $main-light-color;
    input[type="checkbox"] {
      &:focus ~ p::before {
        box-shadow: 0 0 0.5rem 0 transparentize($main-accent-color, 0.4);
      }
      &:checked {
        & ~ p::before {
          border-color: $main-accent-color;
          background-image: url('./assets/close-dm.svg');
        }
      }
    }
    p::before {
      background-color: $dm-bg-card-color;
    }
  }
  .accent-link {
    color: $main-accent-color !important;
  }
  .dropdown-menu {
    .item {
      color: $main-light-color !important;
    }
    .notification-item.new {
      color: $main-accent-color;
    }
    .ui.label {
      background-color: $main-accent-color;
      color: $dm-bg-card-color;
    }
    .menu.transition,
    .menu.transition::after {
      box-shadow: 0 0 2rem 0 $dm-bg-card-color;
      background-color: $main-dark-color !important;
    }
    form:hover {
      background-color: darken($main-dark-color, 1%);
      input {
        color: $main-accent-color;
      }
    }
  }
  .user-profile-card,
  .game-profile-card,
  .team-profile-card,
  .version-profile-card,
  .version-card,
  .user-manage-card {
    background-color: $dm-bg-card-color;
    * {
      color: $main-light-color;
    }
    h6 {
      color: transparentize($main-light-color, 0.5);
    }
    .team:before {
      background-image: url('./assets/group-dm.svg');
    }
  }
  .card-title {
    color: $main-accent-color;
  }
  .user-elements * {
    color: $main-light-color;
  }
  .box-title {
    color: $main-light-color;
    h5 {
      border-bottom: 2px solid $main-accent-color;
    }
    .icon:hover {
      color: $main-accent-color;
    }
  }
  .edit-box {
    .remove:hover {
      color: $main-accent-color;
    }
  }
  .custom-file-upload:focus ~ .file-loader-label {
    box-shadow: 0 0 0.5rem 0 transparentize($main-accent-color, 0.4);
  }
  .verfc {
    color: $main-error-color;
  }
  .game-card, .team-card, .version-card {
    color: $main-light-color;
    background-color: $dm-bg-card-color;
    .small-card-title {
      color: $main-accent-color;
    }
    .team:before {
      background-image: url('./assets/group-dm.svg');
    }
    .authors a,
    .owners a {
      img {
        border: 2px solid $dm-bg-card-color;
      }
      &:hover, &:focus {
        img {
          border: 2px solid $main-accent-color;
        }
      }
    }
  }
  .inline .label {
    background-color: $main-accent-color;
    color: $dm-bg-card-color;
    box-shadow: 0 0 0.5rem 0 transparentize($dm-bg-card-color, 0.4);
  }
  .group-tabs {
    .chevron:hover {
      color: $main-accent-color;
    }
    .tab-content * {
      background-color: $dm-bg-card-color;
      &:hover {
        box-shadow: $dm-focus-shadow;
      }
      &.chosen {
        background-color: $main-accent-color;
        color: $dm-bg-card-color;
      }
    }
  }
  .invitation-card {
    background-color: $dm-bg-card-color;
    i:hover {
      color: $main-accent-color;
    }
  }
  .sort.down {
    color: $main-accent-color;
  }
  .user-manage-card .controls i {
    &:hover {
      color: $main-accent-color;
    }
    &.active {
      color: $main-accent-color;
    }
  }
  .confirmation i {
    &:hover {
      color: $main-accent-color;
    }
  }
}
