$dm-main-bg-color: hsl(246, 28, 37);
$dm-bg-card-color: hsl(245, 28, 25);

$main-dark-color: hsl(244, 28, 20);
$main-light-color: hsl(60, 11, 96);
$main-accent-color: hsl(47, 97, 54);
$main-error-color: hsl(11, 96, 65);

// Font variables
$accent-font: 'Kurale', serif;
$base-font: 'Arvo', serif;
$button-font: 'Patua One', serif;

// Font sizes
$base-font-size: 1rem;
$small-font-size: 1.15rem;
$medium-font-size: 1.75rem;
$large-font-size: 2rem;
$x-large-font-size: 3rem;
$huge-font-size: 4rem;

// Shadows
$dm-focus-shadow: 0 0 0.5rem 0 transparentize($main-accent-color, 0.4);
$black-shadow: 0 0 0.5rem 0 transparentize($dm-bg-card-color, 0.4);

// Borders
$transparent-border: 2px solid transparent;;
$accent-border: 2px solid $main-accent-color;
