.dashboard {
  h2 {
    margin-bottom: 2rem;
  }
  p {
    margin: 1.5rem 0 4rem;
    letter-spacing: 0.2em;
  }
}

.dashboard-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 1rem;
  .dashboard-tabs  {
    position: relative;
    margin-bottom: 2rem;
    .bottom-border {
      width: 14rem; height: 2px;
      position: absolute;
      bottom: 0; right: 0;
      z-index: 0;
    }
  }
  button {
    font-weight: 700;
    border-bottom: 2px solid transparent;
    position: relative;
    z-index: 1;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    &:first-child {
      padding-right: 0.75em;
    }
  }
}
