.edit-block {
  flex-direction: column;
  padding-bottom: 22rem;
  &>div {
    display: flex;
  }
  .scrolling-menu {
    position: sticky;
    top: 5rem;
    height: fit-content;
    margin-right: 4rem;
    * {
      display: block;
      margin: 0.5rem 0;
    }
  }
}
