.page-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
  a {
    font-weight: 700;
    margin-left: 0.5rem;
  }
  &>div {
    display: flex;
    align-items: center;
  }
  img[alt="Logo"] {
    height: 2.75rem;
  }
  .header-link {
    font-weight: 700;
    &::before {
      content: '';
      display: inline-block;
      width: 1rem; height: 1rem;
      background-image: url('./assets/user-dm.svg');
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 0.5rem;
    }
  }
}
