.user-profile-card,
.game-profile-card {
  display: flex;
  border-radius: 1rem;
  min-height: 12.5rem;
  padding: 2rem;
  margin-top: 4rem;
  margin-bottom: 2.5rem;
  position: relative;
  &>img {
    border-radius: 0.5rem;
    position: absolute;
    top: -2rem;
    width: 12.5rem;
  }
  &>div {
    margin-left: 14.5rem;
    width: 100%;
    &>div:first-child {
      display: flex;
      align-items: flex-end;
      margin-bottom: 1rem;
      &.header {
        align-items: flex-start;
        justify-content: space-between;
        // width: 100%;
      }
      p {
        margin-bottom: 0.25em;
        margin-left: 0.5rem;
      }
    }

    &>div:last-child {
      width: 70%;
      h5 {
        margin-bottom: 0.5rem;
        font-family: $base-font;
        letter-spacing: 0.05em;
      }
      .no-bio {
        opacity: 0.3;
      }
    }
  }
  .team {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    padding-left: 0;
    max-width: 30%;
    a {
      word-break: break-word;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      line-height: 1.4rem;
    }
    &:before {
      content: "";
      background-size: 100%;
      background-position: center;
      background-repeat: no-repeat;
      min-width: 1rem; min-height: 1rem;
      margin-right: 0.5rem;
    }
  }
  .controls {
    position: absolute;
    bottom: 2rem; right: 2rem;
    * {
      text-align: right;
      margin: 0;
      margin-left: 1rem;
    }
  }
}
