.version-content {
  display: flex;
  justify-content: flex-end;
  .file-list {
    width: 30%;
  }
  .file-card {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    border-radius: 0.5rem;
    padding: 1rem;
    position: relative;
    .smallest-title {
      max-width: 80%;
    }
    .round-link {
      background-image: url('./assets/file.svg');
    }
  }
}
