.version-content {
  display: flex;
  justify-content: flex-end;
  .file-list {
    width: 30%;
  }
  .file-card {
    display: flex;
    justify-content: space-between;
    background-color: $dm-bg-card-color;
    border-radius: 0.5rem;
    padding: 1rem;
    position: relative;
    h6 {
      color: $main-light-color;
      opacity: 0.5;
    }
    .card-title {
      max-width: 90%;
    }
    .round-link {
      background-image: url('./assets/file.svg');
    }
  }
}
