.dropdown-menu {
  .ui.label {
    font-family: $base-font;
    font-weight: 700;
  }
  .menu.transition {
    .item * {
      display: inline-block;
      font-size: 0.85rem;
      font-weight: 300;
    }
    input[type="submit"] {
      background: none;
      font-family: $base-font;
      font-weight: 700;
    }
  }
}
