.dropdown-menu {
  .ui.circular.label {
    box-shadow: $dm-focus-shadow;
    min-width: 0.75rem !important;
    min-height: 0.75rem !important;
    top: -0.25rem;
  }
  .menu.transition {
    .item {
      line-height: 1.5rem !important;
      font-weight: 300;
      * {
        display: inline-block;
      }
    }
    input[type="submit"] {
      background: none;
      font-family: $base-font;
      font-weight: 700;
      text-align: left;
      width: 100%;
      padding: 1rem 1.25rem;
    }
  }
  .link {
    width: 100%;
    margin: 0;
  }
}
