.edit-box {
  padding-top: 4rem;
  &:first-child {
    padding-top: 0;
  }
  div {
    &>div {
      margin-bottom: 1.5rem;
    }
    p {
      margin: 0;
    }
  }
  .public.info-block {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-areas: 'name avatar''bio avatar' 'd avatar';
  }
  .avatar {
    grid-area: avatar;
    img {
      border-radius: 0.5rem;
      width: 12.5rem;
    }
    div {
      display: flex;
      align-items: flex-end;
    }
  }
  .bio {
    grid-area: bio;
  }
  .no-data {
    opacity: 0.3;
  }
  textarea {
    margin-bottom: 0;
  }
  label[for="slug"] {
    margin-top: 1rem;
  }
  .remove {
    background: none;
    border: none;
    margin-left: 1rem;
    position: relative;
    z-index: 3;
  }
  .buttons {
    display: flex;
    align-items: flex-end;
  }
  .mail {
    display: flex;
    align-items: center;
    .verfc {
      margin-left: 1rem;
    }
  }
  .page-form {
    max-width: 60%;
  }
  .row {
    display: flex;
    align-items: center;
    .checkbox-label {
      margin-right: 2rem;
    }
  }
  p {
    margin: 0;
  }
  .confirmation {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    p {
      max-width: 80%;
    }
    i {
      cursor: pointer;
      margin-left: 1rem;
    }
  }
  &#delete .confirmation {
    display: block;
    p:last-child {
      margin-bottom: 1.25rem;
    }
  }
}
