.page-form {
  &>div {
    &.submit-row,
    &.check-row {
      display: flex;
    }
    &.submit-row {
      align-items: flex-end;
    }
    &.check-row {
      align-items: center;
      justify-content: space-between;
      margin: 0.5rem 0 0;
      .accent-link {
        text-align: right;
      }
    }
    &>* {
      display: block;
    }
  }
  label {
    font-weight: 700;
    margin-bottom: 0.5rem;
  }
  input[type="text"],
  input[type="email"],
  input[type="password"],
  textarea {
    width: 100%;
    padding: 1rem;
    margin-bottom: 1rem;
    min-width: 23rem;
  }
  textarea {
    resize: vertical;
    min-height: 7rem;
  }
  p {
    margin-left: 1rem;
  }
  .accent-link {
    margin-left: 0.25rem;
  }
  &.public {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-areas: 'name avatar''bio avatar' 'd avatar';
  }
  &.adding {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-areas: 'name avatar''bio avatar' 'd avatar' 'toggle avatar' 'submit avatar';
  }
}
