.game-card {
  display: flex;
  border-radius: 0.5rem;
  margin-top: 2rem;
  padding: 1rem;
  width: fit-content;
  &>div:first-child {
    text-align: center;
    margin-right: 1rem;
    img {
      border-radius: 0.5rem;
      width: 6rem;
      margin-top: -2rem;
    }
    p {
      display: inline-block;
    }
  }
  .states {
    display: flex;
    justify-content: space-between;
    &>* {
      margin: 0 0.5rem;
    }
  }
  .header {
    font-family: $accent-font;
    font-size: 1.5rem;
  }
  .team {
    padding-bottom: 0.5rem;
    padding-right: 1rem;
    margin-bottom: 1rem;
    width: fit-content;
  }
  .description {
    width: 13.8rem;
    min-height: 4em;
  }
}
