.invitation-card {
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  padding: 1rem;
  max-width: 23rem;
  &>span {
    line-height: 1.5em;
  }
  .actions {
    display: flex;
    margin: 0;
  }
  .icon {
    cursor: pointer;
    display: inline-block;
    margin: 0 0.25rem;
  }
}
