.user-block-title {
  display: flex;
  align-items: center;
  margin-bottom: 2rem;
  h5 {
    font-family: $accent-font;
    font-size: $small-font-size;
    padding-bottom: 0.25rem;
  }
  p {
    font-weight: 700;
    padding-bottom: 1rem;
    margin-left: 0.5rem;
  }
}
