.version-card {
  padding: 1.25rem;
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .round-link {
      background-image: url('./assets/file.svg');
      margin-left: 1rem;
    }
    &>div {
      display: flex;
      align-items: center;
      * {
        margin-bottom: 0;
        margin-left: 0.5rem;
      }
      .sort {
        cursor: pointer;
        &.up {
          transform: rotate(90deg);
          margin-left: 0;
        }
        &.down {
          margin-right: -0.75rem;
          margin-left: 1rem;
        }
      }
    }
  }
  .content {
    margin-top: 1.25rem;
  }
  .footer {
    width: 100%;
    .authors {
      width: 100%;
    }
  }
  .states * {
    display: inline-block;
  }
}

#history .version-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: fit-content;
  min-width: 23rem;
  .round-link {
    background-image: url('./assets/file.svg');
  }
  &>div {
    display: flex;
    align-items: center;
    margin: 0;
    * {
      margin: 0;
    }
    a.link {
      margin-left: 0.5rem;
    }
  }
}
